{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythagorus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="container" style="margin:6%">
        <div class="row">
            <div class="col-xs-12">
                <h3>Pythagorean Calculation</h3>
            </div>
            <div class="col-xs-12">
                <p>
                    Determine the length of the long side of a right triangle from the other 2 sides
                </p>
                <form name="baseheight">
                    <div class="form-group">
                        <label for="sideA">
                            Side A:
                        </label>
                        <input class=form-control" id="sideA" name="sideA" type="number" />
                    </div>
                    <div class="form-group">
                        <label for="sideB">
                            Side B:
                        </label>
                        <input class=form-control" id="sideB" name="sideB" type="number" />
                    </div>
                    <btn class="js-target-triangle-button btn btn-sm btn-primary">Calculate</btn>
                </form>
            </div>
            <div class="col-xs-12">
                <h4>
                    Length is: <span class="js-target-triangle text-success"></span>
                </h4>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            $('.js-target-triangle-button').click(function(e){
                let data = {
                    sideA: $('#sideA').val(),
                    sideB: $('#sideB').val()
                };

                $.ajax({
                    method:'post',
                    data:JSON.stringify(data),
                    url: "{% url 'pythagorean-calculate' %}"
                }).then(function(result){
                    $('.js-target-triangle').text(result.sideC);
                });
            });//base height triangle calculation
        });
    </script>

</body>
</html>