{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recursive</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="container" style="margin:6%">
        <div class="row">
            <div class="col-xs-12">
                <h3>Repeat a string</h3>
            </div>
            <div class="col-xs-12">
                <p>
                    Enter a string and the number of times you want it repeated to see that.
                </p>
                <form name="baseheight">
                    <div class="form-group">
                        <label for="string_value">
                            String:
                        </label>
                        <input class=form-control" id="string_value" name="string_value" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="number_of_reps">
                            Number of repetitions:
                        </label>
                        <input class=form-control" id="number_of_reps" name="number_of_reps" type="number" />
                    </div>
                    <btn class="js-target-repeat-button btn btn-sm btn-primary">Calculate</btn>
                </form>
            </div>
            <div class="col-xs-12">
                <h4>
                    String is: <span class="js-target-repeat text-success"></span>
                </h4>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            $('.js-target-repeat-button').click(function(e){
                let data = {
                    string_value: $('#string_value').val(),
                    number_of_reps: $('#number_of_reps').val()
                };

                $.ajax({
                    method:'post',
                    data:JSON.stringify(data),
                    url: "{% url 'repeat-the-string' %}"
                }).then(function(result){
                    $('.js-target-repeat').text(result.string_repeated);
                });
            });//base height triangle calculation
        });
    </script>

</body>
</html>